body {
    background-color: #2E4F4F;
}

hr {
    background-color: #2E4F4F;
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: white;
    border-width: 5px;
}
img {
    width: 200px;
} 
h3{
    color: skyblue;
}
h1 {
    color: skyblue;
}